.square[b-49lm0xremc] {
    width: 60%;
    border: 2px solid #000;
    margin: auto;
    background: white;
}

.header[b-49lm0xremc] {
    margin-bottom: 30px;
    margin-top: 30px;
}

.emoji[b-49lm0xremc] {
    margin: 16px;
}

.list[b-49lm0xremc]{
    margin: 16px;
    padding: 16px;
}

.center[b-49lm0xremc] {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}