.square {
    width: 60%;
    padding-bottom: 30%;
    border: 2px solid #000;
    margin: auto;
    background: linear-gradient(90deg, rgba(154,154,154,0.4009978991596639) 0%, rgba(154,154,154,0.39539565826330536) 100%);
}

.header {
    margin-bottom: 30px;
    margin-top: 30px;
}