.square {
    width: 80%;
    border: 2px solid #000;
    margin: auto;
    background: white;
}

.header {
    margin-bottom: 30px;
    margin-top: 30px;
}

.sub_header {
    margin-top: 30px;
}

.emoji {
    margin: 16px;
}

.list{
    margin: 16px;
    padding: 16px;
}

.center {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}