@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/Coop.styles.css" asp-append-version="true" />
</head>
<div class="text-center">
    <h1 class="display-4 header">Welcome</h1>
</div>
<div>
    <div class="square text-center">
        <ul>
            @foreach (var item in Model.Animals)
            {
                <li>@item.Id</li>
            }
        </ul>
    </div>
</div>
